src/.codelite/*
src/.clang/*
src/workspace.tags

src/PepperGrains/*.mk
src/PepperGrains/client.txt
src/PepperGrains/Debug/*
src/PepperGrains/Release/*
src/PepperGrains/PepperGrains.txt
src/Makefile

backup/*

built/*

run/resources/*
run/core/*
run/addons/*
dependencies/*
dependencies-win/*
