src/.codelite/*
src/.clang/*
src/workspace.tags

binDebug/*
bin/*

*.exe

src/PepperGrains/*.mk
src/PepperGrains/client.txt
src/PepperGrains/Debug/*
src/PepperGrains/Release/*
src/PepperGrains/PepperGrains.txt
src/Makefile

resources/*
dependencies/*
dependencies-win/*
/runDebug.sh
